# BACKEND
# # Auxol API Key
BACKEND_AUXSOL_AUTH_USER="CHANGE-ME"
BACKEND_AUXSOL_AUTH_PASSWORD="CHANGE-ME"
BACKEND_AUXSOL_INVERTER_ID="CHANGE-ME"
BACKEND_AUXSOL_INVERTER_SN="CHANGE-ME"

BACKEND_PORT=8000